<h1>Log In</h1>

<%= form_for @user, url: login_path, method: "post" do |f| %>

  <%= f.label :name, "Name:" %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :password, "Password:" %>
  <%= f.text_field :password %>
  <br>
  <%= f.label :password_confirmation, "Confirm Password:" %>
  <%= f.text_field :password_confirmation %>
  <br>
  <%= f.submit "Log In" %>

<% end %>

Or <%= link_to "Sign Up", signup_path %>